<ion-header class="ion-no-border">
  <ion-toolbar class="mt-1">

    <ion-buttons slot="start" class="ml-1" (click)="onBack()">
      <ion-icon name="chevron-back-outline" size="large"></ion-icon>
    </ion-buttons>

    <ion-title class="search-title">
      Detail
    </ion-title>

    <ion-buttons slot="end" class="mr-1">
      <ion-icon name="bookmark" size="large"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="cover-div"></div>


  <div class="sec-div">
    <img class="b-image" src="assets/images/epi-banners/e1.png" alt="">
    <span>Close Rick-counters of the Rick Kind</span>
  </div>

  <div class="info-div">
    <div class="inside-d first-b-div">
      <img src="assets/icon/gray/cal.png" alt="">
      <span>2021</span>
    </div>

    <div class="inside-d">
      <img src="assets/icon/gray/clock.png" alt="">
      <span>148 Minutes</span>
    </div>

    <div class="inside-d last-b-div">
      <img src="assets/icon/gray/ticket.png" alt="">
      <span>S03E09</span>
    </div>

  </div>


</ion-content>
