
//Poppins Fonts

@font-face {
  font-family: 'p-regular';
  src: url('../assets/fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'p-medium';
  src: url('../assets/fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: 'p-semi-b';
  src: url('../assets/fonts/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: 'p-bold';
  src: url('../assets/fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'montserrat-bold';
  src: url('../assets/fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'montserrat';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'montserrat-semibold';
  src: url('../assets/fonts/Montserrat-SemiBold.ttf');
}


