.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-left: 12px;

  .epi-banners {
    box-shadow: none !important;
    width: fit-content !important;
    display: inline-block !important;
    margin: 5px!important;

    img {
      padding-left: 15px;
      height: 25vh;
      margin-bottom: 15px;
      max-width: 100%;
    }


    .number {
      font-size: 100px;
      position: absolute;
      bottom: 0;
      margin-bottom: -25px;
      left: 5px;
      color: #242A32;
      text-shadow: 0 0 0.5px #0296E5;
      padding-bottom: 3px;
      font-family: montserrat-semibold, serif;
    }
  }
}



